/* ลบการตั้งค่าเริ่มต้นที่บีบหน้าจอออก */
:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: block; /* เปลี่ยนจาก flex เป็น block เพื่อให้เต็มจอ */
  place-items: unset;
  min-width: unset;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}